<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>南山公安数字沙盘</title>
	<link rel="stylesheet" href="./css/slick.css">
	<link rel="stylesheet" href="./css/slick-theme.css">
	<link rel="stylesheet" href="./css/all.css">
	<link rel="stylesheet" href="./css/left.css">
	<link rel="stylesheet" href="./css/park.css">
	<link rel="stylesheet" href="./alplayer/al.css">
	<link rel="stylesheet" href="./css/right.css">
	<link rel="stylesheet" href="./libs/Build/Cesium1/Widgets/widgets.css">
	<link rel="stylesheet" href="css/right2.css">
	<link rel="stylesheet" href="css/right.css">
	<link rel="stylesheet" href="css/zuizong.css">
	<link rel="stylesheet" href="css/toolbar.css">
	<link rel="stylesheet" href="css/biaohui.css">
	<link rel="stylesheet" href="css/slide-unlock.css">
	<link rel="stylesheet" href="./css/toolStyle.css">
	<link rel="stylesheet" href="./css/jiang.css">
	<script src="js/jquery2.2.4.min.js"></script>
	<script src="js/jq.cookie.js"></script>
	<script type="text/javascript">
		function resize() {
			var bili = $(window).width() / 1920;
			$('html').css('font-size', 16 * bili + 'px');
		};
		window.onresize = resize
		resize();
	</script>
</head>

<body>
	<!-- <div id="vue"> -->
	<iframe src="http://190.35.195.80/xiaoan?p=209275d69093329245"></iframe>
	<div class="qjbutton" style="z-index: 1000000000000">
		<button type="button" class="active">全景一</button>
		<button type="button">全景二</button>
		<button type="button">全景三</button>
		<button type="button">全景四</button>
	</div>
	<p id="close">x</p>

	<div class="container-fluid containerWidth" id="containerFluid">
		<header>
			<!-- <img src="./all/jh.png" width="30" /> -->
		</header>
		<!-- 右边 -->
		<div class="rightyybg"></div>
		<div class="right-new">
			<div class="newright-title mtop"
				style="margin-left: 0.375rem;width: 19.3125rem;margin-top: 4px!important;height: 50px;line-height: 58px;">
				<img src="./all/视频联动.png" style="margin-top: 17px;">
				<span>重点监控区域</span>
			</div>
			<div class="videodiv">
				<div class="video-box">
					<div id="playercontainer"></div>
				</div>
				<ul class="anniu">
					<li>
						<button>
							<img src="./right/放大.png" alt="">
							<img src="./right/放大2.png" alt="" style="display: none;">
							<font>放大</font>
						</button>
					</li>
					<li>
						<button>
							<img src="./right/追踪.png" alt="">
							<img src="./right/追踪2.png" alt="" style="display: none;">
							<font>追踪</font>
						</button>


					</li>
					<li>
						<button>
							<img src="./right/刷新.png" alt="">
							<img src="./right/刷新2.png" alt="" style="display: none;">
							<font>刷新</font>
						</button>
					</li>

				</ul>
			</div>
			<div class="showcont">
				<div class="newright-title mtop" style="margin-top:9px !important;">
					<img src="./all/追踪对象.png">
					<span>追踪对象</span>
				</div>
				<dl>
					<img src="right/kuan.png" class="kuan">
					<dd class="fl zuopai rightfoot">
						<img src="" alt="">
					</dd>
					<dd class="fl bidui righttop">
						<img src="" alt="">
						<p>比对</p>
					</dd>
					<dd class="xx">
						<span></span>
						<font id="time" class="zhuatime">2019.09.10 09:30.20</font>
					</dd>

					<dd class="xx">
						<span></span>
						<font id="position">
							深圳市南山区高新街道世界之窗地铁A出口某个地方(球机）
						</font>
					</dd>
					<dd class="fl quan">
						<!-- <p>相似度</p> -->
						<h5 class="corenow">98%
							<img src="right/圈1.png" class="amiam">
							<img src="right/圈2.png" class="amiam_2"></h5>
					</dd>
					<div class="bigimg imgleft">
						<img src="" alt="">
					</div>
				</dl>
			</div>
			<div class="jinrigaoj">
				<div class="newright-title mtop" style="margin-top:9px !important;">
					<img src="right/gaojilogo.png">
					<span>告警记录</span>
				</div>
				<div class="jilv gjtoday">
					<div class="sanjiao">
						<img src="right/外圈红.png" class="amiam">
						<img src="right/三角红.png" class="amiam_2">
					</div>
					<span>0</span>
					<h5>今日告警总数</h5>
				</div>
			</div>
		</div>

		<!-- 底部告警推送 -->
		<div class="pushbox">
			<div class="btpush">
				<div class="push-top">
					<h5 style="color: #fff;float: left;">今日告警记录</h5>
					<img src="./right/guanbi.png">
				</div>

				<div class="gun-ami">
					<div>
						<ul>
							<li class="active">
								<time>2019-11-16 18 : 26 : 58</time>
								<div>
									<img src="" alt="1" class="zuoimg">
									<img src="" alt="2" class="youimg">
								</div>
								<p>
									相似度:<span id="xiangsi">89%</span>
								</p>
								<span class="diian">
									世界之窗地铁A出口球机
								</span>
							</li>
							<li>
								<time>2019-11-16 18 : 26 : 58</time>
								<div>
									<img src="" alt="1" class="zuoimg">
									<img src="" alt="2" class="youimg">
								</div>
								<p>
									相似度:<span id="xiangsi">89%</span>
								</p>
								<span class="diian">
									世界之窗地铁A出口球机
								</span>
							</li>
							<li>
								<time>2019-11-16 18 : 26 : 58</time>
								<div>
									<img src="" alt="1" class="zuoimg">
									<img src="" alt="2" class="youimg">
								</div>
								<p>
									相似度:<span id="xiangsi">89%</span>
								</p>
								<span class="diian">
									世界之窗地铁A出口球机
								</span>
							</li>
							<li>
								<time>2019-11-16 18 : 26 : 58</time>
								<div>
									<img src="" alt="1" class="zuoimg">
									<img src="" alt="2" class="youimg">
								</div>
								<p>
									相似度:<span id="xiangsi">89%</span>
								</p>
								<span class="diian">
									世界之窗地铁A出口球机
								</span>
							</li>
							<li>
								<time>2019-11-16 18 : 26 : 58</time>
								<div>
									<img src="" alt="1" class="zuoimg">
									<img src="" alt="2" class="youimg">
								</div>
								<p>
									相似度:<span id="xiangsi">89%</span>
								</p>
								<span class="diian">
									世界之窗地铁A出口球机
								</span>
							</li>

						</ul>
					</div>
					<img src="./right/jt_baizuo.png" alt="" id="gun-lf" class="clleft">
					<img src="./right/jt_baiyou.png" alt="" id="gun-rt" class="clright">
				</div>
			</div>
		</div>


		<!-- 最新警告 -->
		<div class="jinggao">

			<h5><img src="./right/gaojinglogo.png" alt="">
				<font>最新告警！</font>
			</h5>
			<p>
				<img src="./right/guanbi.png" alt="">
			</p>
			<div class="jgcont">
				<dl>
					<dd class="lstimg">
						<img src="" alt="1">
						<img src="" alt="2">
						<img src="./right/比对.png" alt="">
					</dd>
					<dd class="time">
						<time>2019.09.29 09:39.28</time>
						<span>95.3%</span>
					</dd>
					<dd class="dizhi1">
						深圳市南山区高新街道世界之窗地铁A出口某个地方(球机）
					</dd>
					<dd class="annius">
						<button type="button">查看</button>
						<button type="button">追踪轨迹</button>
						<img src="./right/追踪.png" alt="">
					</dd>
				</dl>
			</div>
		</div>

		<!-- 无人机 -->
		<div class="newfly">
			<div class="newfly-top">
				<h5>无人机管理</h5>
				<img src="./right/guanbi.png">
			</div>
			<ul>
				<li class="flyradio">
					<span class=""></span>
					无人机1号
					<img src="./right/wjc.png" alt="">
				</li>
				<li class="flyradio">
					<span class=""></span>
					无人机2号
					<img src="./right/wjc.png" alt="">
				</li>
				<li>
					<span></span>
					反诈骗宣传播报
				</li>
				<li>
					<span></span>
					安全撤离播报
				</li>
				<li>
					<span></span>
					应急反应播报
				</li>
				<li>
					<span></span>
					突发事件播报
				</li>
				<li>
					<span></span>
					交通指引播报
				</li>
			</ul>
		</div>

		<!-- 图层管理 -->
		<div class="tuceng">
			<div class="tuceng-top">
				<h5>图层管理</h5>
				<img src="./right/guanbi.png">
			</div>
			<ul>
				<li>
					<span><img src="./right/探点.png" alt=""></span>
					<font>监控视频</font>
					<font>19</font>
					<div class="model-1">
						<div class="checkbox">
							<input type="checkbox" />
							<label></label>
						</div>
					</div>
				</li>
				<li>
					<span><img src="./right/责任单位.png" alt=""></span>
					<font>责任单位</font>
					<font class="zeren">11</font>
					<div class="model-1">
						<div class="checkbox zrdwtc">
							<input type="checkbox" />
							<label></label>
						</div>
					</div>
				</li>
				<li>
					<span><img src="./right/警情记录.png" alt=""></span>
					<font>警力部署</font>
					<font class="jngli">16</font>
					<div class="model-1">
						<div class="checkbox zrdwtc">
							<input type="checkbox" />
							<label></label>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<!-- 追踪 -->
		<div class="newzuizong">
			<div class="newzuizong-top">
				<h5>嫌疑人轨迹</h5>
				<p>10条</p>
				<img src="./right/guanbi.png">
			</div>
			<div class="luxian">


				<!-- <ul>
					<li>01</li>
					<li>
						<div class="xyrkuan">
							<p><img src="images/login/zhaopian.png" /></p>
							<p><img src="images/login/zhaopian.png" /></p>
							<p>10月16日&nbsp;19:00</p>
							<p>深圳市南山区科苑北环铜鼓天桥</p>
							<p class="infoNume" id="score">98%</p>
						</div>
					</li>
				</ul>
				<ul>
					<li>01</li>
					<li>
						<div class="xyrkuan">
							<p><img src="images/login/zhaopian.png" /></p>
							<p><img src="images/login/zhaopian.png" /></p>
							<p>10月16日&nbsp;19:00</p>
							<p>深圳市南山区科苑北环铜鼓天桥</p>
							<p class="infoNume" id="score">98%</p>
						</div>
					</li>
				</ul>
				<ul>
					<li>01</li>
					<li>
						<div class="xyrkuan">
							<p><img src="images/login/zhaopian.png" /></p>
							<p><img src="images/login/zhaopian.png" /></p>
							<p>10月16日&nbsp;19:00</p>
							<p>深圳市南山区科苑北环铜鼓天桥</p>
							<p class="infoNume" id="score">98%</p>
						</div>
					</li>
				</ul>
				<ul>
					<li><img src="right/感叹号.png" />暂无数据更新</li>
				</ul> -->
			</div>


		</div>

		<!-- 左边 -->
		<div class="leftyybg"></div>
		<div class="left">
			<div class="left-container">


				<div class="row population" style="color:#FFFFFF;font-size:12px;position: relative;">

					<div>
						<div class="left-title mtop">
							<img src="./all/安保.png">
							<span>一体化力量构成</span>
							<button class="gulibt">管理</button>
						</div>


						<div id="ddddd">
							<div class="population-total">
								<div class="population-topbg">
									<div class="right-title">
										<!-- <img src="./all/tub1.png"> -->
										<span>主体责任单位</span>
										<!-- <b>11</b>
											<span class="ren">人</span> -->
										<button class="reBtnTop" id="presentationDXWGSYT"
											style="display: none;">联勤联动</button>
										<button class="reBtnTop" id="presentationDXWGSYT"
											style="display: none;">地面网格</button>
										<button class="reBtnTop" id="presentationDMWGSYT"
											style="display: none;">地下网格</button>
									</div>
									<div id="zrdwbox">
										<div class="zrdw" style="width: 94%">
											<p v-for="item ,index in zhuti" @click="psoi(2,item,true)" v-if="index<=14">
												{{index + 1}}.
												{{item.unit_name}}</p>
											<!-- 	<p>1.南山交警大队111111</p>
											<p>2.南山公安派出所</p>
											<p>3.机动训练大队</p>
											<p>4.武警深圳支队</p>
											<p>5.市特警支队</p>
											<p>6.沙河派出所</p>
											<p>7.沙河街道办</p>
											<p>8.世界之窗</p>
											<p>9.益田假日广场</p>
											<p>10.民俗文化村</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p>
											<p>11.欢乐谷</p> -->
										</div>
									</div>
								</div>
							</div>


							<!-- 管理按钮弹框 -->

							<div class="guanli">
								<div class="guanli-top">
									<h5>一体化力量构成</h5>
									<img src="./right/guanbi.png" onclick="$('.guanli').hide();$('.gulibt').html('管理')">
								</div>
								<div class="guanlibox">
									<div class="topgli">
										<span :class="{'active':nowid == 2}"
											@click="nowid = 2;serar(nowid);setidx=-1;tianjia=false">主体单位</span>
										<span :class="{'active':nowid == 1}"
											@click="nowid = 1;serar(nowid);setidx=-1;tianjia=false">核心警力圈</span>
										<span :class="{'active':nowid == 0}"
											@click="nowid = 0;serar(nowid);setidx=-1;tianjia=false">联动警力</span>

									</div>

									<div class="setb" style="width: 100%;overflow: hidden;">
										<ul>
											<li v-if="nowid == 1" v-for="idx,i in mainunit.data"
												style="position: relative;" :class="{'select':setidx == i}">
												<font>{{i +1}}.</font>
												<input type="text" v-model="idx.police_information_name"
													v-if="bianji && setidx == i && !delsa">
												<input type="text" class="setbint1"
													v-model="idx.police_information_name" disabled="disabled"
													v-if="(!bianji && setidx == i) || setidx != i">
												<input type="number" v-model="idx.police_number_of"
													v-if="bianji && setidx == i && !delsa">
												<input type="number" class="setbint2" v-model="idx.police_number_of"
													disabled="disabled" v-if="(!bianji && setidx == i) || setidx != i">
												<span class="setbspan1"
													v-if="(!bianji && !delsa && setidx == i) || setidx != i">
													<img class="settarget" :idx="i" src="./left/更多.png" alt="">
												</span>
												<span class="setbspan3" v-if="!bianji && delsa && setidx == i"
													@click="dels(idx.id)">确认删除</span>

											</li>
											<li v-if="nowid == 0" v-for="idx,i in mainunit.data"
												style="position: relative;" :class="{'select':setidx == i}">
												<font>{{i +1}}.</font>
												<input type="text" v-model="idx.police_information_name"
													v-if="bianji && setidx == i && !delsa">
												<input type="text" class="setbint1"
													v-model="idx.police_information_name" disabled="disabled"
													v-if="(!bianji && setidx == i) || setidx != i">
												<input type="number" v-model="idx.police_number_of"
													v-if="bianji && setidx == i && !delsa">
												<input type="number" class="setbint2" v-model="idx.police_number_of"
													disabled="disabled" v-if="(!bianji && setidx == i) || setidx != i">
												<span class="setbspan1"
													v-if="(!bianji && !delsa && setidx == i) || setidx != i">
													<img src="./left/更多.png" :idx="i" class="settarget" alt="">
												</span>
												<span class="setbspan3" v-if="!bianji && delsa && setidx == i"
													@click="dels(idx.id)">确认删除</span>
											</li>
											<li v-if="nowid == 2" v-for="idx,i in mainunit.data"
												:class="{'select':setidx == i}">
												<font>{{i + 1}}.</font>
												<input type="text" v-model="idx.unit_name"
													v-if="bianji && setidx == i && !delsa"
													style="left: 27px;text-align: center; width: 255px;height: 23px;color: #a2d0f0;">
												<input type="text" v-model="idx.unit_name" disabled="disabled"
													style="border: 0;left: 27px;text-align: left; width: 160px;height: 23px;background: none;color: #a2d0f0;"
													v-if="(!bianji && setidx == i) || setidx != i">
												<span class="setbspan1"
													v-if="(!bianji && !delsa && setidx == i) || setidx != i">
													<img src="./left/更多.png" class="settarget" :idx="i" alt="">
												</span>
												<span class="setbspan3" v-if="!bianji && delsa && setidx == i"
													@click="delMainunitData(idx.id)">确认删除</span>
											</li>
										</ul>
										<ul>
											<li class="nowid2" v-if="nowid == 2 && tianjia"
												style="position: unset;bottom: unset;">
												<b style="padding-left: 10px;font-weight: normal;color: #fff;">{{mainunit.data.length + 1}}.</b>
												<input type="text" name="" id="" v-model="zhutiobj.unit_name" placeholder="请输入主体单位名称" 
													style="width: 200px;position: unset;bottom: unset;margin-left: 20px;">
											</li>
											<li class="nowids" v-if="nowid != 2 && tianjia">
												<b style="padding-left: 10px;font-weight: normal;color: #fff;">{{mainunit.data.length + 1}}.</b>
												<input type="text" name="" id="" placeholder="请输入警力名称" 
													v-model="jingobj.police_information_name">
												<input type="number" name="" id="" v-model="jingobj.police_number_of" placeholder="请输入警力人数">
											</li>
										</ul>
										<dl class="setbdl" v-show="setbox" style="right: -25px;">
											<dd class="setbdd1"
												@click="bianji=false;setbox=false;delsa=false;tianjia=false;psoi(nowid,mainunit.data[setidx])">
												<img src="./left/标记.png" alt=""><img src="./left/标记2.png"
													alt="">位置标记</dd>
											<dd class="setbdd2"
												@click="bianji=true;setbox=false;delsa=false;tianjia=false">
												<img src="./left/编辑.png" /><img src="./left/编辑2.png" />编辑
											</dd>
											<dd class="setbdd3"
												@click="delsa=true;setbox=false;bianji = false;tianjia=false">
												<img src="./left/删除.png" /><img src="./left/删除2.png" />删除
											</dd>
										</dl>
									</div>

								</div><button type="button" class="addsj" @click="tianjia=true;bianji=false"></button>
							</div>
						</div>
						<div class="population-left">
							<div class="poptitle">
								<span class="hxqjl">核心圈警力<p>110人</p></span>
								<span class="ldkl">联动警力<p>36人</p></span>
							</div>
							<div class="population-top">
								<div>
									<div id="shangtangStatistic"></div>
									<div id="sanjiao"></div>
								</div>
								<ul>
									<li></li>
									<li></li>
								</ul>
							</div>
							<!-- <div class="population-bottom">
									<div>
										<div class="businessInformation-data" id="shangtangStatistic"></div>
										<span></span>
									</div>
									<h5>联动警力<span class="liandong">32人</span></h5>
								</div> -->
						</div>
					</div>
				</div>

				<div class="left-title mtop" style="margin-top: 375px;height: 43px;">
					<img src="./all/地铁.png">
					<span>监控人流量统计</span>
					<button class="reBtnTop" id="presentationDXWGSYT">热力图</button>
				</div>
				<div class="businessInformation sjzc">
					<div id="ditie" style="height: 220px ;"></div>
				</div>

				<div class="left-title left-titles mtop" style="margin-top: 5px;height: 51px;margin-bottom: 10px;">
					<img src="./left/jqlogo.png" style="margin-top: 15px;">
					<span>警情记录</span>
					<span>
						<button class="lb"></button>
						<button class="tj"></button>
					</span>
					<!-- <button class="reBtnTop" id="presentationDXWGSYT">热力图视频</button> -->
				</div>

				<div class="droneInformation droneInformations" style="position: relative;">
					<div class="qingqiul" id="eacthr"
						style="height: 315px;position: absolute;top: 0;left: 0;width: 100.3%;margin-top:-7px;">
						<div id="jqtongji" style="width: 100%;height: 100%;"></div>
					</div>
					<div class="qingqiul" id="eacthrlst" style="height: auto;display: none;width: 102%;">
						<div class="qipao">

							<div>
								<h5>治安警情</h5>
								<div class="qipao-top">
									<!-- <img src="./right/guanbi.png"> -->
								</div>
								<p class="q-time">报警时间 : <span>122222211</span></p>
								<p class="q-di">接警地点 : <span>asddddddddddddddddd</span></p>
								<p class="q-ren">接警人物 : <span></span></p>
								<p class="q-masc"> <span></span></p>
							</div>
						</div>


						<ul id="jingqing">
							<!-- <li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd><span></span>刑事</dd>
										<dd>未出警</dd>
										<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
										<dd>13：38</dd>
									</dl>
								</li> -->
							<!-- <li>
								<dl>
									<dd><span></span>刑事</dd>
									<dd>未出警</dd>
									<dd>深圳深圳深滨海大道科菀路大道科菀路大道科菀路</dd>
									<dd>13：38</dd>
								</dl>
							</li> -->
						</ul>
						<!-- <div class="qipao"><font>详细信息：滨海大道科苑路解放路2011号太阳皇城广场</font></div> -->
					</div>

				</div>
			</div>
		</div>

		<!-- 中间 -->
		<div class="middle middleWidth " id="middle">

			<div id="main" class="map ">
				<div class="tuli">
					<!-- 标注点 -->
					<!-- <div class="zuizongPoint">
							<span>6</span>					
						</div> -->
					<!-- 标注点弹窗 -->
					<!-- <div class="zuizongShow">
							<p>世界之窗红路灯路口左侧出现2次</p>
						</div> -->
					<!-- <div>
							<img src="./images/tl_qiuji.png">
							<span>在线摄像头</span>
						</div>
						<div>
							<img src="./images/tl_jinyong.png">
							<span>禁用摄像头</span>
						</div>
						<div>
							<img src="./images/tl_zhaobudao.png">
							<span>找不到摄像头</span>
						</div>
						<div>
							<img src="./images/tl_qj.png">
							<span>全景</span>
						</div> -->

				</div>
				<ul class="flyul">
					<li class="zhuye" style="position: relative">
						<img src="images/无人机背景转圈.png" />
						<img src="images/login/首页.png" style="position:absolute;left: 0;top: 0;margin: 0" />

					</li>
					<li class="clickfly" style="position: relative">
						<img src="images/无人机背景转圈.png" />
						<img src="images/login/无人机.png" style="position:absolute;left: 0;top: 0;margin: 0" />
					</li>
					<li class="guanlituceng" style="position: relative">
						<img src="images/无人机背景转圈.png" />
						<img src="./right/图层管理.png" style="position:absolute;left: 0;top: 0;margin: 0" />
					</li>
				</ul>
				<div class="wrenvideo">
					<div class="prism-player" id="wrenvideo"></div>
				</div>
			</div>

			<!-- 视频放大 -->
			<div class="bigvideo">
				<div class="prism-player" id="bigplayVideo"></div>
				<span><img src="images/fdgb.png"></span>
			</div>
			<!-- 底部阴影 -->
			<div class="bottom">
			</div>
		</div>

		<!-- 高空视频 -->
		<!-- <div class="Highvideo">
			<div id="Highvideo"></div>
		</div> -->


		<!-- 工具栏按钮 -->
		<div class="Toolbarlogo">
			<img src="./right/工具栏logo.png" alt="">
		</div>

		<div class="Toolbar">
			<div class="Toolbarnav">
				<ul>
					<li><img src="./right/相机复位.png" alt=""><span>相机复位</span></li>
					<li><img src="./right/地图标绘.png" alt=""><span>地图标绘</span></li>
					<li><img src="./right/测量.png" alt=""><span>测量</span></li>
					<li><img src="./right/漫游.png" alt=""><span>漫游</span></li>
					<li><img src="./right/顶视图.png" alt=""><span>顶视图</span></li>
					<li><img src="./right/设置.png" alt=""><span>设置</span></li>
				</ul>
			</div>


			<!-- 地图标绘 -->
			<div class="plot">
				<h5>
					地图标绘
					<img src="./right/guanbi.png" alt="关闭">
				</h5>
				<div class="conthui">
					<div class="tab-item">
						<span class="active">
							<p>点标记</p>
						</span>
						<span>
							<p>区域标识</p>
						</span>
						<span>
							<p>路线规划</p>
						</span>
					</div>
					<div class="tubiao">
						<span>标记图标:</span>
						<p>
							<img src="./gongju/biaoshix.png" alt="">
						</p>
					</div>
					<ul class="tabsel">
						<li class="selimg">
							<dl>
								<dd class="active">
									<img src="./gongju/biaoshix1.png" alt="">
								</dd>

								<dd>
									<img src="./gongju/biaoshix2.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/标点l绿色.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/标点蓝色.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/标点紫色.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/biaoshix.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/警车2.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/武警车2.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/摩托车2.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/岗亭2.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/绿色.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/蓝色.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/红色.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/黄色.png" alt="">
								</dd>
								<dd>
									<img src="./gongju/紫色.png" alt="">
								</dd>
							</dl>
							<button>返回</button>
						</li>
						<li class="lianxian huixian">
							<h5>连线效果</h5>
							<p>
								<span>线型:</span>
								<select>
									<option value="1">━━━实线</option>
									<option value="2">•••••虚线</option>
									<option value="3">→→箭头</option>
								</select>
							</p>
							<p>
								<span>背景:</span>
								<select class="polygonColor">
									<option value="0">红色</option>
									<option value="1">紫色</option>
									<option value="2">青色</option>
									<option value="3">蓝色</option>
									<option value="4">绿色</option>
									<option value="5">橙色</option>
								</select>
							</p>
							<p>
								<span>效果:</span>
								<select>
									<option value="1">发光</option>
								</select>
							</p>
						</li>
					</ul>
					<li class="huixian">
						<h5>绘线设置</h5>
						<p>
							<span>宽度:</span>
							<select>
								<option value="1">中等</option>
							</select>
						</p>
						<p>
							<span>颜色:</span>
							<select>
								<option value="0">红色</option>
								<option value="1">紫色</option>
								<option value="2">青色</option>
								<option value="3">蓝色</option>
								<option value="4">绿色</option>
								<option value="5">橙色</option>
							</select>
						</p>
						<p>
							<span>透明度:</span>
							<select>
								<option value="1">中等</option>
							</select>
						</p>
					</li>
					</ul>
				</div>
			</div>
			<!-- 地图测量 -->
			<div class="cengliang">
				<div class="cengliang-top">
					<h5>地图测绘</h5>
					<img src="./right/guanbi.png">
				</div>
				<ul>
					<li>
						<button><img src="./right/测量2.png"></button>
						<span>距离测量</span>
					</li>
					<li>
						<button><img src="./right/测量面积.png"></button>
						<span>面积测量</span>
					</li>
				</ul>
				<ul>
					<li>
						<font>水平距离：</font>
						<font class="shupingjuli">52.01m</font>
					</li>
					<li>
						<font>两点距离：</font>
						<font class="liangdianjuli">105.51m</font>
					</li>
					<li>
						<font>高度距离:</font>
						<font>测绘起点，终点处于同一高度</font>
					</li>
				</ul>
				<ul>
					<li>
						<font>面积：</font>
						<font class="mianji">26492.51m²</font>
					</li>
					<li>
						<button id="clearmeasuring">清理测绘点</button>
					</li>
				</ul>

			</div>
			<!-- 地图漫游 -->
			<div class="manyou">
				<h5>点击地面选择漫游起始点</h5>
				<img src="./right/guanbi.png">
			</div>
			<!-- 设置面板 -->
			<div class="setboxs">
				<h5>
					设置面板
					<img src="./right/guanbi.png" alt="关闭">
				</h5>
				<div class="secont">
					<div class="setsel">
						<h5>
							初始位置
						</h5>
						<ul>
							<li class="active">选择位置0</li>
							<li>选择位置1</li>
							<li>选择位置2</li>
						</ul>
					</div>
					<div class="setsel dengguang">
						<h5>
							灯光强度
						</h5>
						<div>
							<div id="mousemove">
								<div id="slider" style="overflow: unset !important;">
									<div id="slider_bg"></div>
									<span id="label"></span> <span id="labelTip"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<script type="text/javascript">
			$(function () {
				var slider = new SliderUnlock("#slider", {

				}, function () {

				});
				slider.init();
			})
		</script>



		<!-- 弹窗 -->
		<div class="alertmodel">
             <h5>提示</h5>
			<p class="title">这是提示标题</p>
			<button></button>
		</div>

		<div id="tmv">
			<button>x</button>
			<div id="thermalMapVideo"></div>
		</div>

	</div>
	<!-- </div> -->

	<!-- <div class="zz_point2">
			<div class="zz_point2_adress">
				<img src="./images/xianyir.png" alt="">
			</div>
			<div class="zz_point2_number">
				<span>12</span>
			</div>
		</div> -->

	<!-- 警力图标 -->
	<!-- <div class="jingli">
			<div>
				<span class="jingli-adr">世界之窗交警大队</span> 
				<span class="jingli-man">25<span>人</span></span>
			</div>
		</div> -->
	<!-- 标注时跟着鼠标走的图标 -->
	<div class="fllowPoint"></div>
	<!-- 标注点输入框 -->
	<!-- <div class="showText">
		<input type="text">
	</div> -->
	<!-- 测试上传图标用的 -->
		<!-- <div class="uploadTest">
			<input type="file" name="testFile" onchange="changepic(this)">
			<img id="showImage" src="" alt="">
		</div> -->
	
	

	<script>
		if (!$.cookie('Login') || $.cookie('Login') === 'null') {
			// window.location.href = './index.html';
		};
	</script>



	<script src="./js/vue.min.js"></script>
	<script src="./alplayer/al.js"></script>
	<script src="./js/videoPlay.js"></script>
	<script src="./libs/Build/Cesium1/Cesium.js"></script>
	<script src="./js/xagis.js"></script>
	<script type="text/javascript" src="js/echarts.min.js"></script>
	<script src="js/stomp.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/slick.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/sockjs.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lj.js"></script>
	<script src="js/left.js"></script>
	<script src="./js/gisInit.js"></script>
	<script src="js/park.js"></script>
	<script src="js/zuizong.js"></script>

	<script src="js/dji.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/right.js"></script>



	<script src="js/whz.js"></script>
	<script src="./js/jiang_Network.js"></script>

	<script src="js/yhc.js"></script>
	<script src="./js/ConvertTool.js"></script>
	<script src="./js/drawHandler.js"></script>
	<script src="./js/XAMeasureTools.js"></script>
	<script src="./js/LJToolUse.js"></script>
	<script src="js/toolbar.js"></script>
	<script src="js/jquery.slideunlock.js"></script>
	<script src="js/save_local.js"></script>




</body>

</html>