.Toolbarlogo{z-index: 10000;position: fixed; left: 18%;bottom: 0;cursor: pointer;}
.Toolbarlogo img{background: url(../right/logobg.png) no-repeat center center;background-size:100% 100%;width: 48px;height: 48px;}
.Toolbarlogo img.active{background: url(../right/logolanbg.png) no-repeat center center;background-size:100% 100%;width: 48px;height: 48px;}


.Toolbar{background: url(../right/工具栏bg.png) no-repeat center center;background-size:100% 100%;width: 45%;height: 68px;z-index: 10000;position: fixed; left: 50%;transform: translateX(-50%);bottom: 0;}
.Toolbarnav{position: absolute;width: 100%;height: 68px;}
.Toolbarnav ul{margin-top: 25px;display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  }
.Toolbarnav ul li{float: left;padding-left: 40px;display: block;cursor: pointer;width: 72px;height: 44px;}
.Toolbarnav ul li img{width: 26px;height: 26px;}
.Toolbarnav ul li:nth-of-type(4) img{width: 26px !important;height: 27px !important;}
.Toolbarnav ul li:nth-of-type(5) img{width: 25px !important;height: 21px !important;margin-top: 4px;}
.Toolbarnav ul li:hover{background: url(../right/图标光亮.png) no-repeat -5px;background-size:100% 100%;width: 72px;bottom: 0;height: 44px;}
.Toolbarnav ul li.active{background: url(../right/图标光亮.png) no-repeat -5px;background-size:100% 100%;width: 72px;bottom: 0;height: 44px;}
.Toolbarnav ul li span{
	    font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 1px;
		color: #ffffff;
		background: url(../right/气泡.png) no-repeat center center;
		background-size: 100% 100%;
	    width: 80px;
		height: 33px;
		position: absolute;
		text-align: center;
		line-height: 30px;
		top: 0px;
		margin: -33px -27px;
		display: none;
}
.Toolbarnav ul li:hover span{display: block;}


/* 地图标绘 */
/* .dtbh{position: absolute;left: 85%;bottom: 213%;}
.dtbh ul:nth-of-type(1){background: url(../right/地图测绘1bg.png) no-repeat -5px;background-size:100% 100%;width: 320px;height: 245px;left: 20%;top: 30%;} */

/* 测量 */

.cengliang{position: absolute;bottom: 120px; right: -20%;background: url(../right/测量bg.png) no-repeat -5px;background-size:100% 100%;width: 320px;height: 265px;}
.cengliang-top {
    position: relative;
}

.cengliang-top h5 {
    line-height: 50px;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    margin-left: 13px;
    height: 0px;
    width: 90px;
    line-height: 33px;
}
.cengliang-top img {
    float: right;
    margin-top: 10px;
    margin-right: 19px;
    cursor: pointer;
}

.cengliang ul:nth-of-type(1){width: 290px;height: 32px;margin-top: 56px;}
.cengliang ul:nth-of-type(1) li{width: 146px;height: 32px;}
.cengliang ul:nth-of-type(1) li:nth-of-type(2){float: right;margin-top: -32px;}
.cengliang ul:nth-of-type(1) button{width: 146px;height: 32px;border: 1px solid #0c3757;outline: none;background: none;margin-left: 11px;line-height: 2px;cursor: pointer;}
.cengliang ul:nth-of-type(1) li:hover button{border: 1px solid #265e81;background-color: #0a2a43;}
.cengliang ul:nth-of-type(1) li.active button{border: 1px solid #265e81;background-color: #0a2a43;}
.cengliang ul:nth-of-type(1) button:nth-of-type(2){width: 146px;height: 32px;border: none;outline: none;background: none;float: right;}
.cengliang ul:nth-of-type(1) li span{
	    width: 62px;
		height: 18px;
		background-color: #365e7d;
		border-radius: 2px;
		font-size: 12px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 1px;
		color: #ffffff;
		padding: 0px;
	    margin-left: 96px;
		display: block;
	    text-align: center;
		display: none;
}
.cengliang ul:nth-of-type(1) li:hover span{display: block;}


.cengliang ul:nth-of-type(2){margin-top: 22px;}
.cengliang ul:nth-of-type(2) li{width: 290px;height: 35px;background-color: #101f2d;margin: 12px;}
.cengliang ul:nth-of-type(2) li font{margin-left: 8px;line-height: 35px;}
.cengliang ul:nth-of-type(2) li font:nth-of-type(1){
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	}
.cengliang ul:nth-of-type(2) li font:nth-of-type(2){
		font-family: MicrosoftYaHei;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
	    color: #00a2ff;
		float: right;
		margin-right: 20px;
		font-weight:bold ;
		
	}
.cengliang ul:nth-of-type(2) li:nth-of-type(3) font:nth-of-type(2){font-weight:normal ;}
	
	
	
.cengliang ul:nth-of-type(3){margin-top: 22px;}
.cengliang ul:nth-of-type(3) li:nth-of-type(1){width: 290px;height: 35px;background-color: #101f2d;margin: 12px;}
.cengliang ul:nth-of-type(3) li:nth-of-type(1) font{
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	margin-left: 8px;
	line-height: 35px;
	}	
.cengliang ul:nth-of-type(3) li:nth-of-type(1) font:nth-of-type(2){color: #00a2ff;font-size: 18px;font-weight:bold ;}
.cengliang ul:nth-of-type(3) li button{	
	width: 90px;
	height: 26px;
	background-color: #00a2ff;
	border-radius: 2px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
	float: right;
	margin-right: 17px;
	margin-top: 54px;
}

/* 漫游 */
.manyou{position: absolute;bottom: 120px;right: -20%;background: url(../right/漫游bg.png) no-repeat -5px;background-size:100% 100%;width: 250px;height: 40px;}
.manyou h5{
	    font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 2px;
		color: #ffffff;
		line-height: 36px;
		margin-left: 13px;
}
.manyou img{
	float: right;
	margin-top: -24px;
	margin-right: 14px;
	cursor: pointer;
	height: 14px;
	width: 14px;
	}