<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="../../../css/bootstrap4.3.1.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/slick.css">
    <link rel="stylesheet" href="../../../css/slick-theme.css">
    <link rel="stylesheet" href="../../../css/control.css">

    <script src="../../../js/jquery-3.3.1.min.js"></script>
    <script src="../../../js/bootstrap4.3.1.min.js"></script>
    <script src="../../../js/slick.js"></script>

</head>

<body style="overflow:hidden;">
    <div class="container-left">
        <div class="control">
            <div class="control-Top">
                <div class="top-title">
                    <img src="../../../images/图层管理.png">
                    <span>图层控制</span>
                </div>
            </div>
            <div class="control-content">
                <ul>
                    <li>
                        <div>
                            <img src="../../../images/视频监控.png">
                        </div>
                        <div class="checkbox-custom">
                            <input type="checkbox" id="checkBox1">
                            <label for="checkBox1" class="label">视频监控</label>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="../../../images/文艺.png">
                        </div>
                        <div class="checkbox-custom">
                            <input type="checkbox" id="checkBox2">
                            <label for="checkBox2" class="label">文艺晚会疏导图</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../../../images/烟花.png">
                        </div>
                        <div class="checkbox-custom">
                            <input type="checkbox" id="checkBox3">
                            <label for="checkBox3" class="label">焰火晚会安保图</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../../../images/地图.png">
                        </div>
                        <div class="checkbox-custom">
                            <input type="checkbox" id="checkBox4">
                            <label for="checkBox4" class="label">南山分局管控图</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../../../images/海域.png">
                        </div>
                        <div class="checkbox-custom">
                            <input type="checkbox" id="checkBox5">
                            <label for="checkBox5" class="label">海域安全警戒图</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../../../images/安防点位.png">
                        </div>
                        <div class="checkbox-custom">
                            <input type="checkbox" id="checkBox6">
                            <label for="checkBox6" class="label">重点位置</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="js/control.js" ></script>
</body>

</html>